include azpype/assets/bin/azcopy_darwin_amd64_10.18.1/azcopy
include azpype/assets/bin/azcopy_linux_amd64_10.18.1/azcopy
include azpype/assets/bin/azcopy_linux_arm64_10.18.1/azcopy
include azpype/assets/bin/azcopy_windows_amd64_10.18.1/azcopy.exe
include azpype/assets/config_templates/copy_config.yaml
include requirements.txt
